

            <form method="POST" action="/login">
                <input type="text" placeholder="username" style="width: 300px" name="username">
                <button type="submit">Submit</button>
            </form>

   