
<a href='/register'>register</a>

<% if(users){ %>
    <p><%= users["email"] %></p>
    <form method="POST" action="/logout">
        <button type="submit">Logout</button>
    </form>
  <% } else{ %>  
    <form method="POST" action="/login">
        <input type="text" placeholder="login" style="width: 300px" name="user_id">
        <button type="submit">Login</button>
    </form>
 <% } %>

            

   