<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_head %>
    <title>Login</title>
</head>

<body>
    <a href = "/register">Register</a>
    <form method="POST" action="/login">
        <input type="email" placeholder="email" style="width: 300px" name="email">

        <input type="password" placeholder="password" style="width: 300px" name="password">
        <button type="submit">Submit</button>
    </form>

</body>

</html>
