<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_head %>
    <title>Login</title>
</head>

<body>
    <h1> Hi there! Please login.</h1>
    <form method="POST" action="/login">
        <input type="email" placeholder="email" style="width: 300px" name="email">
        <input type="password" placeholder="password" style="width: 300px" name="password">
        <button type="submit">Submit</button>
    </form>
    <a href="/register">New? Register here.</a>


</body>

</html>