<!DOCTYPE html>
<html lang="en">
        

<a href = "registration">Register</a>
<body class="container">


        <form method="POST" action="/registration">
            <input type="email" placeholder="email" style="width: 300px" name="email">
            <input type="password" placeholder="password" style="width: 300px" name="password">
            <button type="submit">Submit</button>
        </form>

</body>

</html>