<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_header %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TinyApp</title>
</head>

<body class="container">

    <h1>
        URLS
    </h1>
    <ul>
        <% for (const shortURL in urls){ %>
        <li>           
            <%= shortURL%> --> 
            <%= urls[shortURL]%>
        <a href ="/urls/<%=shortURL%>" >Edit</a> 
        <form method= "POST" action="/urls/<%= shortURL %>/delete">
            <br>
        <button type = "submit">Delete</button>
        </form>
        </li>
      
        <% } %>
    </ul>

</body>

</html>