<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_header %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TinyApp</title>
</head>

<body class="container">

   
    <h1>
    </h1>
    <ul>
        <a href=>
            <li>
                <%= longURL%>
            </li>
        </a>
    </ul>

    </body>

</html>