<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_header %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TinyApp</title>
</head>

<body class="container">


    <h1>
        Show my URLS
    </h1>
    <ol>
        <a href=>
            <li>
                Link:
                <%= longURL%>
            </li>
        </a>

        <form method="POST" action="/urls/<%=shortURL%>/update">
            <input type="text" value="<%=longURL%>" placeholder="http://" style="width: 300px" name="newLongURL">
            <button type="submit">Update</button>
        </form>
    </ol>

</body>

</html>